.certificate-bg-img{
    background-image: url("https://i.ibb.co/xjHRKCt/ASS-Certificate-with-stamp-nd-signs-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}